<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
    <h1>Spring Boot</h1>
    <h2>Me llamo Drewbot</h2>
    <h3>Como estas?</h3>
    <p>Lorem Ipsum</p>

    <form action="/" method="post">
        <input type="text" name="message" placeholder="type a message"/>
        <input type="text" name="firstName" placeholder="what is your first name?"/>
        <input type="text" name="lastName" placeholder="what is your last name?"/>
        <input type="submit" value="save"/>
    </form>

    <p th:text="'Answer: ' + ${message}"></p>
    <p>Name: <span th:text="${name}"></span></p>

    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>